#SetEnv APPLICATION_ENV localhost
#SetEnv APPLICATION_ENV qa
SetEnv APPLICATION_ENV production

#start pagespeed settings.
#ModPagespeed on
#ModPagespeedImagePreserveURLs on
#ModPagespeedCssPreserveURLs on
#end pagespeed settings

DirectoryIndex index.php
RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
#RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=302,NE,L]

# Redirect to www
#RewriteCond %{HTTP_HOST} !^localhost
#RewriteCond %{HTTP_HOST} !^qa.mywebsite.com
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{HTTP_HOST} !^localhost
RewriteCond %{THE_REQUEST} ^GET
RewriteCond %{THE_REQUEST} ^[A-Z]+\ /([^/]+/)*[^.#?\ ]+\.php([#?][^\ ]*)?\ HTTP/
RewriteCond %{REQUEST_URI} !^/?(phpMyAdmin)/
RewriteRule ^(([^/]+/)*[^.]+)\.php https://%{HTTP_HOST}/$1 [R=301,L]


#remove the need for .php extention 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php
